{% extends 'base.html.twig' %}

{% block body %}
    {% verbatim %}


<div>
    <h1>Hello App!</h1>

    <ul class="nav">
      <li class="nav-item">
        <router-link class="nav-link" :to="{name: 'account_list'}">Accounts</router-link>
      </li>
    </ul>

    <router-view></router-view>
</div>

    {% endverbatim %}
{% endblock %}